
    <div class="row">
      <div class="col-lg-5 shadow-sm mr-5 mb-5">
            <h3>Karier</h3>
            <p>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.</p>
            <p><a class="btn btn-secondary" href="{{site.url}}{{site.baseurl}}{{informasi.url}}" role="button">Selengkapnya &raquo;</a></p>
      </div>

      <div class="col-lg-5 shadow-sm mr-5 mb-5">
            <h3>Pribadi</h3>
            <p>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.</p>
            <p><a class="btn btn-secondary" href="{{site.url}}{{site.baseurl}}{{informasi.url}}" role="button">Selengkapnya &raquo;</a></p>
      </div>

      <div class="col-lg-5 shadow-sm mr-5 mb-5">
            <h3>Sosial</h3>
            <p>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.</p>
            <p><a class="btn btn-secondary" href="{{site.url}}{{site.baseurl}}{{informasi.url}}" role="button">Selengkapnya &raquo;</a></p>
      </div>

      <div class="col-lg-5 shadow-sm mr-5 mb-5">
            <h3>Belajar</h3>
            <p>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.</p>
            <p><a class="btn btn-secondary" href="{{site.url}}{{site.baseurl}}{{informasi.url}}" role="button">Selengkapnya &raquo;</a></p>
      </div>
